PROJECT_DESCRIPTION=Lojas Latinas
DB_CLIENT=mysql
BACKEND_PORT=8000
FRONTEND_PORT=3000
DB_PORT=3306
DB_ADMIN_PORT=8080
MYSQL_ROOT_PASSWORD=admin
MYSQL_DATABASE=labdb
MYSQL_USER=labuser
MYSQL_PASSWORD=admin
